body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
}

.appContainer {
  max-width: calc(90dvw - 10%); /* Ajustado para evitar overflow */
  margin: 0 auto;
  padding: 2% 4%; /* Reducido para mantener consistencia */
  box-sizing: border-box;
}

header {
  width: calc(100% - 2%); /* Ajustado para evitar overflow */
  padding: 1% 1%;
  background-color: #ffffff;
}

footer {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  padding: 1% 0;
  text-align: center;
}