body {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  background-color: #f8f9fa;
}

.appContainer {
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
  padding: 2% 4%;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 1%;
  background-color: #ffffff;
}

footer {
  width: 100%;
  padding: 1% 0;
  text-align: center;
}

@media (max-width: 48rem) { /* 768px */
  .appContainer {
    max-width: 100%;
    padding: 1rem;
  }
  
  header {
    padding: 0.5rem;
  }
}